html{
  min-height: 100vh;
}

body{
  margin: 0;
  width: 100%;
   min-height: 100vh;
}
.cotainer{
  width: 100%;
 min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 25px;
}

.spinner{
  border-left: 2px solid white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
  box-shadow: 0 2px 4px rgba(255, 255,255, 0.1);
}

@keyframes rotate{
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
}



.maincotainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #121212;
  min-height: 100vh;
  overflow-y: auto;
}
.maincotainer::-webkit-scrollbar{
  display: none;
}


.loading{
  width: 89.5vw;
  height:80vh ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadicon{
  width: 30px;
  height: 30px;
  border: 1px solid white;
  mask: conic-gradient(
    white 0deg 60deg,
    transparent 60deg 120deg, 
    white 120deg 180deg,
    transparent 180deg 240deg, 
    white 240deg 300deg,
    transparent 300deg 360deg 
  );
  -webkit-mask: conic-gradient(
    white 0deg 60deg,
    transparent 60deg 120deg, 
    white 120deg 180deg,
    transparent 180deg 240deg, 
    white 240deg 300deg,
    transparent 300deg 360deg 
  );
border-radius: 50%;
animation: rotate 1.5s ease-in-out infinite ;
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.showerror{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showerror h4{
  color:rgb(255,44,44) ;
  margin-bottom: 0;
}

.showerror div{
  border-radius: 8px;
  border: 1px solid transparent;
  height: 2em;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

.refreshicon{
  display: block;
  background: url("../src//assets/rotate.svg");
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center;
}



.navbar{
margin-top: 0;
padding-top:0 ;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;
 gap: 5px;
width: 100%;
z-index: 5;
top: 0;
align-self: center;
position: fixed;
background-color:#121212;
}

.div_input{
  border: 1px solid #71797E;
  width: 40%;
  height: 35px;
  background-color:#232323;
  color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
align-content: center;
  position: relative;
}

.div_input input{
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  justify-self: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 74%;
  height: 34px;
  background-color:#232323;
  color: white;
  padding-left: 12px;
  padding-top: 1px;
  font-size: 0.9rem;
  z-index: 1;

}
.div_input div{
  position: absolute;
   bottom: 0;
  width: 24%;
  height: 33px;
  right: 0;
  align-content: center;
  padding-bottom: 2px;
  border-left:0.01px solid transparent ;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #1a1a1a;
  z-index: 2;
}

.div_input input:focus{
  z-index: 4;
}
 

.div_btn{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dcdcdc;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 25px;
}


.navbar h2{
  font-size: 1.5em;
color: white;
}


.navbar h2:hover{
cursor: pointer;
}

.div_btn:hover{
cursor: pointer;
opacity: 0.8;
}

.div_btn:active{
transform: scale(0.95);
}



.input-with-icon {
  display: block;
  background: url('./assets/searchicon.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  padding-left: 10px;
  cursor: pointer;
}


.currentmoviescard{
  align-self: center;
display: flex;
flex-wrap: wrap;
width: 89.5vw;
height:80vh ;
justify-content: center;
  gap: 20px;
  padding: 20px;
}

.moviescard{
  display: flex;
flex-wrap: wrap;
justify-content: center;
  gap: 20px;
  padding: 20px;
}
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 25px;
}
.btn:hover{
 cursor: pointer;
opacity: 0.8;
background-color:#474747;
}
.btn:active{
  transform: scale(0.95);
}

.moviecard{
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #1c1c1c;
  width: 260px;
  padding: 15px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(128, 0, 128, 0.3);
  transition: transform 0.3s ease-in-out , box-shadow 0.3s ease-in-out;
}
.moviecard:hover{
transform: scale(1.01);
box-shadow: 0 6px 15px rgba(128, 0, 128, 0.5);
}
.moviecard img{
  border-radius: 2rem;
  box-shadow: 0 3px 6px rgba(128, 0, 128, 0.5);
}
.moviecard img:hover{
  opacity: 0.7;
}

.movieinfo{
 display:  flex;
 flex-direction: column;
 text-align: center;
 color: whitesmoke;
}
.movieinfo h4{
margin-top: 10px;
margin-bottom: 0;
font-size: 1.2rem;
font-weight: 600;
}
.moviecard p{
  margin-top:2px ;
 font-size: 0.9rem;
 color: #b0b0b0;
 padding: 0 5px;
}
.moviecard span{
 color: lightblue;
 cursor: pointer;
 transition: color 0.3s ease-in-out;
}
.moviecard span:hover{
 color: cyan;
}

 .additionaloption {
  width: 240px;
  padding-left: 10px;
  padding-right: 10px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

.wishlist_btn{
display: block;
width: 35px;
height: 35px;
background: url("./assets/wishlist.svg");
background-size: 24px;
background-repeat: no-repeat;
background-position: center center;
cursor: pointer;
}

.favorite_btn{
display: block;
width: 35px;
height: 35px;
background: url("./assets/favorite.svg");
background-size: 24px;
background-repeat: no-repeat;
background-position: center center;
cursor: pointer;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.card {
  padding: 2em;
}



.outerlayer{
  background-color: whitesmoke;
  height:450px;
  border:1px solid grey;
  padding-left: 40px;
  width: 350px;
  color: black;
  display: flex;
  flex-flow: column;
 align-items: flex-start;
 border-radius: 20px;
 position: relative;
}


.homepage{
  background-color: whitesmoke;
  height:300px ;
  border:1px solid grey;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
 justify-content: flex-start;
 border-radius: 20px;
}
.homepage h1{
font-size: 2.5rem;
color: #4CAF50;
margin-bottom: 20px;

}
.homepage p{
font-size: 1.1rem;
color: #555;
margin-bottom: 30px;

}
.homepage .icon {
  font-size: 50px;
  color: #4CAF50;
  margin-bottom: 20px;
}
.homepage button{
border: none;
padding: 12px 5px;
font-size: 1.1rem;
cursor: pointer;
transition: background-color 0.3s ease;

}
.homepage button:hover{
  transform: scale(1.02);
}
.homepage button:active{
  transform: scale(0.98);
}



.heading{
margin-bottom: 0;
font-size: 2.5rem;
}


.form{
  display: flex;
  flex-flow: column;
  gap: 1.2rem;
}
.resetform{
  display: flex;
  flex-direction: column;
align-items: center;
margin-top: 20px;
gap: 10px;
}

.resetform span::before{
  content: "• ";
  color: rgb(19, 138, 19);
  font-size: 1rem;
  text-align: center;
}
.resetform span{
  font-size: small;
  color: gray
}


.forminput{
  width: 300px;
  height: 30px;
  background-color: white;
    border: 1px solid grey;
    padding: 4px;
    font-size: 1rem;
    border-radius: 10px;
    color: black;
    outline: none;
}

.formerrorinput{
  width: 300px;
  height: 30px;
  background-color: white;
    border: 1px solid red;
    padding: 4px;
    font-size: 1rem;
    border-radius: 10px;
    color: black;
    outline: none;
}

.formLink{
  width: 100%;
  text-align: start;
  margin-top: -8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.formLink:hover{
  color: rgb(87, 71, 227);

}
.formLink:active{
  color: rgb(87, 71, 227);
 transform: scale(0.99);
}

.formerrorinput:focus{
  box-shadow:0 0 5px rgba(255, 0, 0, 0.4);
  ;
}

.forminput:focus{
box-shadow: 0 2px 5px rgba(0, 123, 255, 0.5);
}
.forminput:focus::placeholder{
opacity: 0;
}

.forgetpassworddiv{
  background-color: whitesmoke;
  height:320px;
  border:1px solid grey;
  width: 350px;
  padding-left: 40px;
  color: black;
  display: flex;
  flex-direction: column;
   border-radius: 20px;
 align-items: flex-start;
}

.forgetform{
  margin-top: 40px;
  margin-bottom: 15px;
}



.resetpassworddiv{
  background-color: whitesmoke;
  height:300px;
  border:1px solid grey;
  padding: 2px;
  padding-right: 4px;
  width: 400px;
  color: black;
  display: flex;
  flex-flow: column;
align-items: center;
 border-radius: 20px;
}
.resetpassworddiv h1{
  align-self: self-start;
   font-size: 1.5rem;
  margin-bottom: 2px;
  margin-left: 40px;
}

.forgetpassworddiv h1{
  font-size: 1.5rem;
  margin-bottom: 2px;
}
.forgetpassworddiv p{
  margin:4px 0;
  color: gray;
}

.forgetpassworddiv input {
   margin-bottom: 15px;
}

.resetpassworddiv input{
 margin-bottom: 5px;
}


.outerlayerbutton{
  border: 1px solid grey;
  width: 300px;
  height: 40px;
  color: white;
  background-color: #121212;
  margin-top: 2px;
  margin-bottom: 2px;
 border-top-left-radius: 18px;
 border-top-right-radius: 18px;
 border-bottom-left-radius: 18px;
 border-bottom-right-radius: 18px;
 
font-size: 1rem;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.3s ease-in-out; 
}

.outerlayerbutton:hover{
transform: scale(1.01);
}
.outerlayerbutton:active{
transform: scale(0.91);
}


.signuptext{
width: 90%;
text-align: center;
font-size: 1rem;
}
.signuptextsignup{
width: 90%;
text-align: center;
font-size: 1rem;
}

.otpdiv{
   background-color: whitesmoke;
  height:300px;
  border:1px solid grey;
  width: 350px;
  padding-left: 30px;
  color: black;
  display: flex;
  flex-direction: column;
   border-radius: 20px;
 align-items: flex-start;
}

.otpdiv h1{
  font-size: 1.5rem;
  margin-bottom: 2px;
}
.otpdiv p{
  margin:4px 0;
  color: gray;
}

.otpdiv form{
  display: flex;
  flex-direction: column;
align-items: center;
margin-top: 40px;
gap: 20px;
}